html {
  min-height: 100%;
}

body {
  background-color: black;
}


.login-container {
	color: white;
	width: 50% ;
	height: auto;
	margin: 0 auto;
	margin-top:2%;
	display: block;
	border-radius: 6px 6px 3px 3px;
    box-sizing: border-box;
    text-align: center; 
   
}


.login-container h1{
font-family: 'Prosto One', cursive;
   
}



.hidden { display: none; }

.table th {
   text-align: center;   
}

.login-container button{
	width: 60% ;
	margin: 0 auto;
	margin-top: 10px;
	
}

.createForm button{
	width: 30% ;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid;
}

.container img{
	width: 20% ;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	
}


.createteam button{
	width: 40% ;
	margin: 0 auto;
	margin-top: 10px;
	border: 1px solid;
}


.form-box {
	display: inherit;
}

.form-box input {
	display: block;
	margin: 0 auto;
	margin-top:10px;
	padding: 5px; 
	font-size:18px;
}

.createAccount input  {
	display: inline-block;
	margin: 0 auto;
	margin-top:10px;
	padding: 5px; 
	font-size:18px;
}

.home-container{
	width: 70% ;
	text-align: center;
	height: auto;
	margin: 0 auto;
	margin-top:10%;
	display: block;
	border-radius: 6px 6px 3px 3px;
    box-sizing: border-box;
}

.teams-container{
	width: 70% ;
	margin: 0 auto;
	text-align: left;
	font-family: 'Playfair Display', serif;

}
.teams-container h2{
		font-family: 'Graduate', cursive;
	text-align: center;

}

.team {
	 border: black 1px solid;
	 padding: 10px;
	 margin: 5px;
}

.teaminfo {
	width:70%;
	display: block;
	 margin: 0 auto;
}

.warning {
	color: red; 
}

.createForm{
	text-align: center;
}


#teamname {
	margin:0 auto;
	width: 60%;
}

#editSubmit{
	width: auto;
	margin: 0 auto;
}

.edit {
	width:100%;
	text-align: right;
	margin:10px;
}

.navbar {
	background-color: #313639;
	color: white;

}

.navbar a {

	color: white;
}

.navbar li a:hover {
	color: #ffb834;
	background-color: #313639;
}

.navbar ul {
	float:right;
}

.navbar p{
	padding: 15px;
	margin: 0px;
	font-style: italic;
}

.successful {
	text-align: center;
}

.successful h3{
	color: green;
}